body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #333;
}
.root-container {
}

code {
  font-family: 'Roboto condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #fcfcfc;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0cm;
  padding: 0.2cm;
  page-break-after: always;
}

.page-ltr {
  direction: ltr;
}
.page-rtl {
  direction: rtl;
}

.card-print {
  border: 1px dashed #999;
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  height: 8.2cm;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive, sans-serif;
  font-size: 1rem;
  page-break-inside: avoid;
  position: relative;
  direction: ltr;
  background: #fff;
  cursor: pointer;
  perspective: 1200px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.card-print-front {
  font-weight: bold;
  font-size: 1.1rem;
}

.card-header {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  font-size: 0.7rem;
  color: #aaa;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: Arial, sans-serif;
  user-select: none;
  pointer-events: none;
}

.card-category {
  position: absolute;
  top: 1.6rem;
  font-size: 2.9rem;
  color: grey;
  opacity: 0.2;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: Arial, sans-serif;
  user-select: none;
  pointer-events: none;
  z-index: -3;
}

.card-footer {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  font-size: 0.7rem;
  color: #aaa;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: Arial, sans-serif;
  user-select: none;
  pointer-events: none;
}